h1{
    font-size: 14vh;
    color: white;
    padding-top: 30vh;
    padding-left: 10vh;
}
@media screen and (max-width: 856px){
    .home-title{
        font-size: 60px;
    }
}
@media screen and (max-width: 720px){
    .home-title{
        font-size: 45px;
    }
}
@media screen and (max-width: 450px){
    .home-title{
        font-size: 35px;
    }
}
@media screen and (max-width: 320px){
    .home-title{
        font-size: 25px;
    }
}
.body-setting {
    padding-top: 20vh;
    text-align: center;
}

.home-background {
    width: 100%;
    height: 1000px;
    background-image: url("../../picture/McDonalds-Logo.png");
    background-size: cover;
    background-position: center;
}
